/* 
    General Styles
*/
body{
    background-color: #78c00baf;
}
.btn{
    background-color: #137D2F;
}
textarea:focus,
input:focus,
input[type]:focus {
    border-color: #78c00baf;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #78c00baf;
    outline: 0 none;
}
.img-fluid{
    width: 200px;
    border-radius: 500px;
}
